---
import { getCollection } from 'astro:content';
import ProjectInsight from './ProjectInsight.astro';

const projects = await getCollection('projects');
projects.sort(
    (a, b) =>
        new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

{
    (
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 py-8">
            {projects.map((b) => (
                <ProjectInsight project={b} />
            ))}
        </div>
    )
}
