---
import BaseLayout from '@layouts/BaseLayout.astro';
import blogHeroImg from '@images/hero-landing.png';
import HeroSection from '@components/ui/sections/HeroSection.astro';
import AboutSection from '@/components/ui/sections/AboutSection.astro';
import EducationSection from '@/components/ui/sections/EducationSection.astro';
import ExperienceSection from '@/components/ui/sections/ExperienceSection.astro';
---

<BaseLayout>
    <HeroSection
        title=`<span class="hover:text-orange-400">ADAM RAFI REZANDI</span>`
        subTitle=`A software engineer who loves exploring new technologies and building cool stuff`
        primaryBtnURL="/posts"
        src={blogHeroImg}
        alt="Adam Rafi Rezandi Portfolio"
    />

    <AboutSection />
    <EducationSection />
    <ExperienceSection />
</BaseLayout>
