---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import blogHeroImg from '@images/hero-landing.png';
import HeroSection from '@components/ui/sections/HeroSection.astro';
import AboutSection from '@/components/ui/sections/AboutSection.astro';

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
    .sort(
        (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
            b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    )
    .slice(0, 3);
---

<BaseLayout>
    <HeroSection
        title=`<span class="hover:text-orange-400">ADAM RAFI REZANDI</span>`
        subTitle=`A software engineer who loves exploring new technologies and building cool stuff`
        primaryBtnURL="/posts"
        src={blogHeroImg}
        alt="godruoyi's blog"
    />

    <AboutSection />

    <!-- <HeroSectionAlt
        title="Fellow me on GitHub"
        subTitle="I love open source and have some small tools on my GitHub. You can get me more by checking out my code"
        url="https://github.com/godruoyi"
    /> -->
</BaseLayout>
